* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-position: center;
  background-repeat: no-repeat;

  font-family: "Roboto", sans-serif;
  color: #e1e1e6;
}

body img {
  height: 100vh;
  width: 100%;

  display: block;
  position: absolute;
  object-fit: cover;
}

nav {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 3.2rem;
  padding: 4.2rem 7.2rem;
}
nav svg {
  display: inline-block;
  height: 4.2rem;
}

nav a {
  text-decoration: none;
  color: #c4c4cc;
  font-size: 2.2rem;
}
nav a:hover {
  color: white;
}

.mainContainer {
  position: relative;
  top: 15vh;
  display: grid;
  place-content: center;
}

.sectionContainer {
  position: relative;
  top: 10vh;
  width: 60%;

  margin: 0 10rem;
}

.sectionContainer h1 {
  padding-bottom: 1.6rem;
}

.sectionContainer p {
  font-size: 18px;
  line-height: 160%;
}

h1 {
  font-size: 4.8rem;
}

.button {
  justify-self: center;
  text-align: center;
  margin-top: 2.4rem;
  padding: 2.6rem;

  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-decoration: none;

  border: 2px solid #ffffff;
  border-radius: 5px;

  cursor: pointer;
}

.button:hover {
  background: rgba(225, 225, 230, 0.2);
}

@media (max-width: 650px) {
  nav svg {
    display: none;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  .mainContainer {
    top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .sectionContainer {
    top: 0;
    width: 90%;
    margin: 0 2rem;
  }
}
