* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #040924;
  --h1-color: #0c3440;
  --h2-color: #00453a;
  --input-text-color: #212529;
  --input-bg-color: #dce2e9;
  --input-active-border: #02799d;
  --input-border: rgba(73, 80, 87, 0.3);
  --placeholder-color: #rgba(73, 80, 87, 0.5);
  --btn-text-color: #ffffff;
  --btn-bg: #02799d;
  --overlay-bg-modal: rgba(0, 0, 0, 0.7);
  --alert-bg: #f03e3e;

  font-size: 6.25%;
}

body {
  background-color: var(--bg-color);

  display: grid;
  place-content: center;
  height: 100vh;
}

body,
input,
button {
  font-family: "Roboto", sans-serif;
  font-size: 16rem;
}

.container {
  background-color: var(--btn-text-color);

  width: 428rem;
  border-radius: 6rem;
}

.card-wrapper {
  padding: 48rem 64rem 64rem;
}

.card-wrapper h1 {
  color: var(--h1-color);
  margin-bottom: 32rem;

  font-size: 24rem;
}

form label {
  color: var(--h2-color);
  font-size: 14rem;

  display: block;
  margin-bottom: 8rem;
}

form input {
  width: 100%;
  padding: 16px;
  height: 52px;

  background: var(--input-bg-color);
  border: 1px solid var(--input-border);
  border-radius: 4px;

  margin-bottom: 16rem;
}

form input:focus {
  outline: 2rem solid var(--input-active-border);
}

form input::placeholder {
  color: rgba(73, 80, 87, 0.5);
}

form button {
  width: 100%;
  margin-top: 16rem;
  padding: 16px;
  gap: 8px;

  color: var(--btn-text-color);
  background: var(--btn-bg);
  border: none;
  border-radius: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

form button:hover {
  filter: saturate(1.5);
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.modal {
  background: var(--overlay-bg-modal);
  position: absolute;
  inset: 0;

  display: grid;
  place-content: center;
}

.modal-wrapper {
  width: 363px;
  height: 152px;

  display: grid;
  place-content: center;

  background-color: var(--btn-text-color);
  border-radius: 6px;

  position: relative;
}

.modal-wrapper button {
  background: none;
  border: none;

  position: absolute;
  top: 16rem;
  right: 16rem;

  cursor: pointer;
}

.alert-wrapper.hide {
  transform: translateY(-30rem);
}

.alert-wrapper {
  position: absolute;
  top: 0rem;
  left: 0;

  width: 100vw;
  background: var(--alert-bg);
  transform: translateY(0);
  transition: transform 0.4s;
}

.alert-wrapper p {
  color: var(--btn-text-color);
  padding: 8rem 0;
  text-align: center;
}
