* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --bg-color: rgba(0, 0, 0, 1);
  --bg-noUsersAdded: rgba(3, 11, 13, 1);
  --close-button: rgba(247, 90, 104, 1);
  --text-color: rgba(225, 225, 230, 1);
  --text_noUsersAdded: rgba(78, 84, 85, 1);
  --primary-color: rgba(9, 45, 56, 1);
  --secondary-color: rgba(6, 24, 28, 1);
  --table-row-color: rgba(6, 22, 27, 0.5);
  --text-placeholder: rgba(124, 124, 138, 1);
  --outline-color: rgba(74, 128, 140, 1);
  --button-color: rgba(6, 94, 124, 1);
  --button-text-color: rgba(255, 255, 255, 1);
}

body {
  background-color: var(--bg-color);
}

body,
input,
button {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

main {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#app {
  width: min(90%, 92rem);
  margin: 0 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #logo {
  width: clamp(7rem, 27vw, 18.5rem);
}

header label {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

header #container_input {
  display: flex;
  justify-content: center;
  gap: 8px;

  height: 4.8rem;
}

header input {
  border: none;
  border-radius: 5px;

  background-color: var(--secondary-color);
  color: var(--text-placeholder);

  width: clamp(9rem, 25vw, 30rem);
  padding-left: clamp(0rem, 1vw, 2rem);
  font-size: clamp(0.8rem, 2vw, 1.8rem);
}

header input:focus {
  outline: 1px solid rgba(74, 128, 140, 1);
}

header button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: clamp(0.8rem, 2vw, 1.4rem);
  padding: 1.2rem;

  background-color: var(--button-color);
  color: var(--button-text-color);
  text-transform: uppercase;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 200ms;
}

header button:hover,
header button:hover svg path {
  background-color: var(--button-text-color);
  color: var(--button-color);
  fill: var(--button-color);
}

header button svg {
  width: clamp(2rem, 4.5vw, 2.5rem);
  padding-right: 8px;
}

.hide {
  visibility: collapse;
}

table {
  margin: 5.7rem auto 0;
  border-collapse: separate;
  border-spacing: 0;

  display: block;
  /* clear: both; */

  max-height: 44rem;

  overflow: overlay;
}

table thead {
  background-color: var(--primary-color);
  font-size: clamp(1.2rem, 2vw, 1.8rem);
  line-height: 250%;
  text-align: left;
  font-weight: 400;
}

table thead th {
  padding: 0 clamp(1rem, 3vw, 4rem);
  width: 100%;
}

table thead th:nth-child(1) {
  border-radius: 5px 0 0 0;
}

table thead th:nth-child(4) {
  border-radius: 0 5px 0 0;
}

table tbody tr td {
  padding: 2.4rem clamp(1rem, 3vw, 4rem);
  font-size: clamp(0.8rem, 2vw, 1.8rem);
}

table tbody tr:nth-of-type(odd) {
  background-color: var(--table-row-color);
  border-top: 1px solid var(--outline-color);
}

table tbody tr:nth-of-type(even) {
  background-color: var(--primary-color);
  border-top: 1px solid var(--outline-color);
}

table tbody tr:first-child {
  border-top: 0;
}

table tbody tr td:first-child {
  display: flex;
  align-items: center;
}

table tbody .delete {
  color: var(--close-button);
  font-size: 2rem;
  cursor: pointer;
}

table tbody img {
  object-fit: cover;
  width: 5.6rem;
  border-radius: 50%;
  margin-right: 1.6rem;
}

table tbody a {
  text-decoration: none;
  color: var(--text-color);
}

.userNotAdded {
  height: 22rem;
  background-color: var(--bg-noUsersAdded);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;

  font-size: clamp(2rem, 4vw, 4rem);
  color: var(--text_noUsersAdded);
}

/*****************    scrollbar webkit   ************/

table::-webkit-scrollbar {
  width: 13px;
}

table::-webkit-scrollbar-button {
  display: none;
}

/* table::-webkit-scrollbar-track {
  margin-top: clamp(4vh, 9vh, 10vh);
} */

table::-webkit-scrollbar-thumb:vertical {
  background-image: url("./img/scrollbar_icon.svg");
  background-repeat: no-repeat;
  background-size: 4px 192px;
  /* background-color: rgba(0, 0, 0, 0.25); */
}

@media (max-width: 27rem) {
  table thead {
    font-size: clamp(0.5rem, 0.6rem + 1vw, 1.6rem);
  }
  table tbody img {
    width: clamp(2.3rem, 3.3rem, 6.6rem);
  }
}
